/* General Colors */
* {
  --black: #000000;
  --grey: #e9e3df;
  --orange: #ff7a30;
  --blue: #004080;
  --white: #ffffff;
  --pinkgrey: #F0EAEA;
  --greengrey: #556565;
}

/* Admissions Page styling */
section.admissions{
  color: var(--greengrey);
  display: flex;  
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 30px, 0px;
  border-top: 5px solid var(--white);
  background-image:url("/static/images/application bg.png"); 
}

section.admissions h1{
  padding:0 200px 0 200px;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

section.admissions p{
  font-size: 18px;
}

/* FORM */
.my_form{
  color:var(--orange);
  text-align: left;
  display: flex;
  flex-direction: column;
}

.my_form label{
    display:block; 
    padding-bottom: 5px;
    font-weight: bold;
}

.my_form input{
    background-color:--;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

.my_form select{
    background-color:--;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

.my_form textarea {
    height: 100px;
    background-color:var(--pinkgrey);
    border-radius: 10px;
}

.button[type="submit"]{
    background-color: var(--blue);
    transition: background-color 0.3s ease;
    color: var(--white);
    border-radius: 20px;
    margin: auto;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button:hover{
    background-color: var(--orange);
    color: var(--white);
}

#mail{
    margin: 20px;
}


/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 20px 15px;
    padding: 20px;
  }

  header {
    height: 80px;
    -ms-flex-align: center;
  }

}