<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Udo Sanctus Academy</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>
    <header>
        <div class="container">
            <a id="logo" href="index.html"><img src="/static/images/USA-logo.jpg" alt=""></a>
            <h1>Udo Sanctus Academy</h1>
            <nav id="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="admissions.html">Admissions</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="clear"></div>

    <section class="contact">
        <div class="container">
            <h1> CONTACT US</h1>
            <hr>
            <p> Need more info? We welcome inquiries from students, parents, educators, and partners. Whether you have questions about our programs, admissions, collaborations, or general information, our team is here to assist you. Please fill out the contact form below or use the provided details to get in touch. We'd love to hear from you...
            </p>
            <form action="" method="POST" class="my_form" >
                <label for="name"> FIRST NAME:</label>
                <input type="text" id="name" name="Name Required" placeholder="Enter first name*"></input>

                <label for="name">  LAST NAME:</label>
                <input type="text" id="name" name="Name Required" placeholder="Enter surname*"></input>

                <label for="email">EMAIL:</label> 
                <input type="email" id= "email" email= "email required" placeholder="Enter email*"></input>
                
                <label for="phone no">PHONE NUMBER:</label> 
                <input type="number" id= "phone no" email= "phone no  required" placeholder="Enter phone no*"></input>

                <label for="message">MESSAGE:</label></label>
                <textarea id="message" name="MESSAGE" required placeholder="  Type in your messages..."></textarea>
                
                <input class="button" id="butt"type="submit" value="SUBMIT" name="">                    
            </form>
        </div>
    </section>

    <section class="cards">
        <div class="card">
        <img src="/static/images/phone-img.png">
            <h2>Call Us</h2>
            <hr>
            <p>+234 804 316 3326</p>
            <p>+234 902 444 1281</p>
        </div>

        <div class="card">
            <img src="/static/images/location-img.png">
            <h2>Address</h2>
            <hr>
            <p>Plot no:34252,Opposite Dorretts Supermarket,Atiku Street,Jos Plateau State.</p>
        </div>

        <div class="card">
            <img src="/static/images/email-img.jpg" id="mail">
            <h2>Email Us</h2>
            <hr>
            <p>udosanacademy@gmail.com</p>
        </div>
    </section>
 
    <footer>
        <div id="foot">
            
        </div>
    </footer>
</body>
</html>