<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Udo Sanctus Academy | Welcome</title>
        <link rel="stylesheet" href="/static/css/index.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
    </head>
    <body>
        <header>
            <h1>Udo Sanctus Academy</h1>
        <div class="container">
            <a id="logo" href="/"><img src=".../images/USA-logo.jpg" alt=""></a>
            <nav id="navbar">
                <ul>
                    
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="admissions.html">Admissions</a></li>
                </ul>
            </nav>
        </div>
    </header>

        <section id="showcase">
            <div class="indexcontainer">
                <h1>Welcome To Udo Sanctus Academy</h1>
                <h3>Making Champions!</h3>
                <p>Start your journey to a holistic, innovative and creative High School experience.</p>
            </div>
        </section>

        <section id="Newsletter">
            <div class="container">
                <h1>Subscribe to our Newsletter</h1>
                <form action="">
                    <input type="email" placeholder="Enter your Email...">
                    <button type="submit" class="button_1">Subscribe</button>
                </form>
            </div>
        </section>

        <footer>
            <p>Udo Sanctus Academy, Copyright &copy; 2025</p>
        </footer>
    </body>
</html>